#root {
    margin : 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
    /* App has all the view */
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(216, 247, 216);
}

.header {
    text-align: center;
    color: rgb(118, 91, 160);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.elem {
    background-color: white;
    padding: 0;
    border-radius: 1rem;
}

.elem:hover {
    box-shadow: 0 0 1rem 0.5rem rgb(233, 225, 225);
}

.cell:hover {
    box-shadow: 0 0 1rem 0.5rem rgb(233, 225, 225);
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

input[type="submit"] {
    margin: 1em;
}

.cell {
    padding: 0.75rem;
    text-align: center;
}

.downloader {
    text-align: center;
}

.footer {
    text-align: center;
}

.elem, .header, .footer, .container, .downloader {
    margin: 0;
}