#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.elem {
    color: aqua;

}

.header {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.downloader {
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 0.5rem;
}

.elem {
    border: 3px solid red;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
